body {
  margin: 0;
  padding: 0;
}
.map-container {
  width: 100%;
  height: calc(100vh - 30px);
  position: absolute;
}

#map {
  width: 100%;
  height: 100%;
}

.custom-marker {
  background-color: transparent;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
